
@font-face {
  font-family: 'MaplestoryOTFLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
:root{
  --Color1: #1b4965;
  --Color2: #5fa8d3;
  --Color3: #62b6cb;
  --Color4: #bee9e8;
  --Color5: #cae9ff;
  --Color6: rgb(249,250,252);
  --Color7: #897a7a;
  --borderColor: rgb(240,240,240);
}

a {
  text-align: center;
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
}

li {
  list-style: none;
}

* {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

body{
  justify-content: center;
  background-color: var(--Color6);

}

.Flex_Container{
  display: flex;
  flex-basis: 90%;
  margin:auto;
  flex-direction: column;
  text-align:left;
}




#navSets{
  display: flex;
  font-size: 1.2em;
  text-align:center;
  
}


/* MAIN */
.Main{
  justify-content: space-between;
  text-align: center;
  flex-grow: 1;
}
.Main_Container{
  margin:auto;
  border: solid 2px red;
  max-width: 1200px;
  display: flex;
}

.Main_Left{
  border: solid 2px black;
  min-width: 140px;
}

.Main_Right{
  border: solid 2px black;
  min-width: 140px;
}

.Main_Mid{
  flex-grow: 1;
  border: solid 2px black;
}

.article{
  display:flex;
  flex-grow: 1;
}

.Post_Container{
  display: flex;
  height: 150px;
  width: 100%;
  border: solid 1px var(--Color7)
}


.Map_naver{
  width:150px;
}


/* media */
@media all and (max-width: 800px) { 
  .Main_Left{
    display:none;

  } 
  .Main_Right{
    display:none;
  }
}
